<h2>LOGIN</h2>

<form action="/Auth/Login" method="post">
    <input type="text" class="form-control" name="Email" />
    <input type="password" class="form-control" name="Password" />
    <br />
    <button type="submit" class="btn btn-primary">Login</button>
</form>

<h3 style="color:red">@TempData["ErrorMessage"]</h3>
