@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@
@if (User.Identity.IsAuthenticated)
{
    <h3>Hallo, @User.Identity.Name!</h3>

    <h4>
        Hier geht es zu deiner   <a href="/ToDo">Übersicht</a>
    </h4>
}
else
{
    <h2>
        Hallo, Unbekannnte(r) ! <br />
    </h2>
    <h4>
        Möchtest du dich <br />
        &nbsp;&nbsp;&nbsp;&nbsp; <a href="/Auth/Register">registrieren</a><br />
        oder <br />
        &nbsp;&nbsp;&nbsp;&nbsp; <a href="/Auth/Login">einloggen?</a> ?
    </h4>
}